@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Roboto Condensed', sans-serif;
  background: #e9ecef;
}

.marginTop{
  margin-top: 5rem;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.marginRight{
  margin-right: 1.5rem;
}
.btnpadding{
  padding: 1rem 2rem;
}
.btn2{
  padding: .8rem 3rem;
}
.maxWidth{
  max-width: 75%;
  margin: 0 auto;
}
.gap{
  gap: 1.5rem;
}
.img{
  object-fit: cover;
  height: 12rem;
}
